<strong>Olá, {{provider}} </strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{user}}
  <strong>Data/Hora: </strong> {{date}} <br>
  <br>
  <small>O horário está novamente disponivel para novos agendamento</small>
</p>
