*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  justify-content:center;
  line-height: 1.6;
  color: #222;
  font-family:  Arial, Helvetica,  sans-serif;
  font-size: 14px;
  max-width: 600px;
}

#header{
  background: #d12121;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  max-width: 600px;
}

