<tr style="border-collapse:collapse">
  <td align="left" bgcolor="#ef1b29"
    style="Margin:0;padding-left:20px;padding-right:20px;padding-top:30px;padding-bottom:30px;background-color:#EF1B29">
    <table width="100%" cellspacing="0" cellpadding="0"
      style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
      <tr style="border-collapse:collapse">
        <td valign="top" align="center" style="padding:0;Margin:0;width:660px">
          <table width="100%" cellspacing="0" cellpadding="0" role="presentation"
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
            <tr style="border-collapse:collapse">
              <td align="center" bgcolor="#ef1b29" style="padding:0;Margin:0">
                <p
                  style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:25px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:38px;color:#FFFFFF">
                  www.<strong>portaldamaria.</strong>com<strong>.</strong>br</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
