<tr style="border-collapse:collapse">
	<td align="left" background="https://res.cloudinary.com/dxn3bllef/image/upload/v1599004252/mary_adthfe.png"
		style="Margin:0;padding-left:20px;padding-right:20px;padding-top:40px;padding-bottom:40px;background-image:url(https://res.cloudinary.com/dxn3bllef/image/upload/v1599004252/mary_adthfe.png);background-repeat:no-repeat;background-position:380px -5px">
		<!--[if mso]><table style="width:660px" cellpadding="0"
      cellspacing="0"><tr><td style="width:400px" valign="top"><![endif]-->
		<table class="es-left" cellspacing="0" cellpadding="0" align="left"
			style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
			<tr style="border-collapse:collapse">
				<td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:400px">
					<table width="100%" cellspacing="0" cellpadding="0" role="presentation"
						style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
						<tr style="border-collapse:collapse">
							<td align="left" style="padding:0;Margin:0;padding-top:40px">
								<p
									style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#535353">
									<strong>Olá {{name}},</strong><br>
									Tudo bem? Aqui, é a Mary, do Portal da Maria.</p>
							</td>
						</tr>
						<tr style="border-collapse:collapse">
							<td align="left" style="padding:0;Margin:0;padding-top:20px">
								<p
									style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#535353">
									O seu pedido {{order}} {{status}}!
									<br>
								</p>
							</td>
						</tr>
						<tr style="border-collapse:collapse">
							<td align="center" style="padding:0;Margin:0;padding-top:40px">
								<span class="es-button-border"
									style="border-style:solid;border-color:#2CB543;background:#EF1B29;border-width:0px;display:inline-block;border-radius:0px;width:auto">
									<a href="{{url}}/login" class="es-button" target="_blank"
										style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:18px;color:#FFFFFF;border-style:solid;border-color:#EF1B29;border-width:10px 80px;display:inline-block;background:#EF1B29;border-radius:0px;font-weight:normal;font-style:normal;line-height:22px;width:auto;text-align:center">
										Acompanhe o status do pedido no site!</a>
								</span>
							</td>
						</tr>
						<tr style="border-collapse:collapse">
							<td align="left" style="padding:0;Margin:0;padding-top:20px">
								<p
									style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#535353">
									Sempre que precisar de ajuda ou tiver&nbsp;<br>alguma duvida. saiba que nosso
									suporte <br>está disponivel nos canais abaixo:</p>
							</td>
						</tr>
						<tr style="border-collapse:collapse">
							<td align="left" style="padding:0;Margin:0;padding-top:20px">
								<p
									style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#535353">
									Centra de Atendimento ao Parceiro: <br>
									E-mail: atendimento@portaldamaria.com
							</td>
						</tr>
						<tr style="border-collapse:collapse">
							<td align="left" style="padding:0;Margin:0;padding-top:20px;padding-bottom:40px">
								<p
									style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:'open sans', 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#535353">
									Até logo,<br>Maria - Diretora de Vendas, do Portal da Maria</p>
							</td>
						</tr>
						<tr style="border-collapse:collapse">
							<td align="left" style="padding:0;Margin:0;font-size:0">
								<table cellpadding="0" cellspacing="0" class="es-table-not-adapt es-social"
									role="presentation"
									style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">

									<tr style="border-collapse:collapse">
										<a href="https://www.facebook.com/PortaldaMaria" target="_blank">
											<td align="center" valign="top"
												style="padding:0;Margin:0;padding-right:10px">
												<img title="Facebook"
													src='https://res.cloudinary.com/dxn3bllef/image/upload/v1599004251/facebook_j2wahn.png'
													alt="Fb" width="40"
													style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic">
											</td>
										</a>
										<a href="https://www.instagram.com/portaldamaria_/" target="_blank">
											<td align="center" valign="top"
												style="padding:0;Margin:0;padding-right:10px"><img title="Instagram"
													src="https://res.cloudinary.com/dxn3bllef/image/upload/v1599004251/instagram_a86xu5.png"
													alt="Inst" width="40"
													style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic">
											</td>
										</a>
										<a href="https://www.youtube.com/channel/UCJSj2gLwsua3PZOADArFmMA"
											target="_blank">
											<td align="center" valign="top"
												style="padding:0;Margin:0;padding-right:10px"><img title="Youtube"
													src="https://res.cloudinary.com/dxn3bllef/image/upload/v1599004251/youtube_nrshna.png"
													alt="Yt" width="40"
													style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic">
											</td>
										</a>
										<a href="https://www.linkedin.com/company/portal-da-maria/" target="_blank">
											<td align="center" valign="top" style="padding:0;Margin:0">
												<img title="Linkedin"
													src="https://res.cloudinary.com/dxn3bllef/image/upload/v1599004251/linkedin_ts2x5x.png"
													alt="In" width="40"
													style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic">
											</td>
										</a>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!--[if mso]></td><td style="width:20px"></td><td style="width:240px" valign="top"><![endif]-->
		<table class="es-right" cellspacing="0" cellpadding="0" align="right"
			style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right">
			<tr style="border-collapse:collapse">
				<td align="left" style="padding:0;Margin:0;width:240px">
					<table width="100%" cellspacing="0" cellpadding="0"
						style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
						<tr style="border-collapse:collapse">
							<td align="center" style="padding:0;Margin:0;display:none"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!--[if mso]></td></tr></table><![endif]-->
	</td>
</tr>